 @font-face{
    font-family: 'Aqurine';
    src: local('Aqurine'), url(./fonts/Aqurine.otf) format('opentype')
}


.nuaFont {
    font-family: 'Aqurine';
}

/* .bonusBtn > .btn-disabled {
    @apply btn-info;
} */




